@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@700&display=swap');

* {
	outline: none;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
	color: white;
    background-color: black;
    font-size: 28px;
}

.result-container {
	width: 80%;
    height: 80%;
    padding: 0 0 10% 10%;
}

/* Header CSS */
.ai-title {
    font-family: 'Black Han Sans', sans-serif; 
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    padding: 4% 0 0 0;
}

.recommend-title {
    font-family: 'Black Han Sans', sans-serif; 
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    padding: 4% 0 0 0;
}
.ai-result-container {
    padding: 10% 0 0 0;
}
.ai-result-container img {
    vertical-align : middle;
    width:40px; 
    height:40px;
}
.recommend-result-container {
    padding: 8% 0 0 0;
    font-size: 24px;
}
.recommend-result-container img {
    vertical-align : middle;
    width:16%; 
    height:16%;    
}
